*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    ---body-bg-color:rgba(216, 216, 216, 0.794);
}
html,body{
    background-color: var(---body-bg-color);

}
.container{
    min-height: 100vh;
    width:100%;
    padding:2rem;
}
h1{
    text-align: center;
}
