*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    ---body-bg-color:#FDF8EE;
    --header-bg-color:#eae6dd;
/* rgba(216, 216, 216, 0.794); */
    --font-color:#575757;
    --text-font:"Gloria Hallelujah", cursive;
    /* "Patrick Hand", cursive; */
    --base-font-size:clamp(20px,calc(2vw + .3rem),40px);
    --modal-br:20px;
}
html,body{
    background-color: var(---body-bg-color);
    color:var(--font-color);
    font-size: var(--base-font-size);

}
main,footer,header,button,div,input{
    font-family: var(--text-font);
    font-weight: 800;
    letter-spacing: .3rem;
}
.container{
    min-height: 100vh;
    width:100%;
    /* padding:1rem; */
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
header{
    /* background-color: var(--header-bg-color); */
    display: flex;
    justify-content: flex-start;
    gap:1rem;
}
header h1{
    font-size: 2rem;
}
header h1,footer{
    text-align: center;
}
header .game-logo{
width:calc(100px + 2rem);
height: calc(100px + 2rem);
}
header .game-logo:hover{
    scale:1.03;
}
footer{
    font-size: .8rem;
}
.container main{
    flex:1;
    display: flex;
    align-items: center;
}
main>.game-section{
    flex:3;
}

main>.game-detail{
    flex:2;
}
.game-grid{
 width: min(90vmin, 500px);

    /* height: 100%; */
    /* border:3px solid whitesmoke; */
    margin: 0 auto;
    aspect-ratio: 1;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
gap: 7px;
overflow: hidden;
}
.game-grid>div{
    box-shadow: inset 0 0 0 1px #e8e8e8; /* hand-drawn vibe */
      /* border: 1px solid #999999; Subtle but clear */
  background-color: #f5eee0; /* Soft beige highlight */
  transition: background-color 0.2s, box-shadow 0.2s;
  /* border-top: none; */
  border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
line-height: 1;
font-size: 2.5rem;

}
.game-grid>div:hover {
  background-color: #fffcf74a;
  box-shadow: 0 2px 4px rgba(87, 87, 87, 0.2); /* subtle depth */
}
.game-detail{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding:0 1rem;
    
}
button,.display-players>*{
    padding:1em;
    border-radius: var(--modal-br);
    background: none;
    font-size: .7rem;
}
.display-players{
    display: flex;
    gap:1rem;
    justify-content: center;
}
.display-players>*{
    border:2px solid var(--font-color);
}
button:hover
{
      color:rgba(0, 24, 0, 0.538);
      scale:1.01;
}
dialog{
    width:60vw;
    height:clamp(20vh,40rem,80vh);
    position: absolute;
    margin: auto auto;
    border-radius: var(--modal-br);
    background-color: var(---body-bg-color);
    border:none;
}
dialog::backdrop{
background: rgba(0,0,0,0.6 );
}
form{
    height: 100%;
}
form fieldset{
    border: none;
    height:100%;
        display: flex;
    flex-direction: column;
    gap:10%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form input{
/* height:1.4rem; */
font-size: 1rem;
padding:calc(5px + .2rem);
width:60%;
background-color: var(---body-bg-color);
border-radius: 10px;
border-color: transparent;
background-color:  rgba(0, 24, 0, 0.083);
   
}
form label{
    width: 5rem;
}
input:focus,input:hover,label:has(+input:hover){
    border-color:  rgb(0, 24, 0);
    outline:none;
}
label:has(+input:hover){
    color:rgba(0, 24, 0, 0.538);

}
input:required.empty{
    border: 2px solid var(--body-bg-color);
  
}
label:has(+input:required:invalid.empty){
    position: relative;
    color: var(--font-color);
}
label:has(+input:required:invalid.empty)::after{
    content: "player Required :/";
    position: absolute;
    background-color: var(--font-color);
    color:var(--body-bg-color);
    top:-2em;
    font-size:calc(.2rem + 3px);
    padding:.4em;
    letter-spacing: .2em;
    border-radius: .3rem;
    right: 1em;
}